<!DOCTYPE html>
<html>

<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body class="bg-gradient-to-br from-purple-600 via-pink-500 to-red-500">
  <nav class="bg-white shadow-md">
    <div class="container mx-auto px-4">
      <div class="flex items-center justify-between py-4">
        <div class="font-semibold text-xl">Admin Dashboard</div>
        <ul class="flex space-x-4">
          <li>
            <a href="#" class="text-gray-700 hover:text-purple-600 font-medium">Home</a>
          </li>
          <li>
            <a href="#" class="text-gray-700 hover:text-purple-600 font-medium">Report</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="flex items-center justify-center h-screen">
    <div class="w-full max-w-sm">
      <div class="bg-white shadow-md rounded-lg px-8 py-10">
        <div class="mb-6">
          <form action="/save" method="post" enctype="multipart/form-data">
            <% if (message !== '') { %>
              <h4 style="border: 2px solid rgb(131, 184, 53); padding: 10px; width: 200px; text-align: center;"><%= message %></h4>
             <% } %>
          <input type="file" name="csvfile">
          <button id="uploadBtn" type="submit" class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full" type="button">
            Upload 
          </button>
        </form>
        </div>
      </div>
    </div>
  </div>
</body>


</html>