<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-image: url('doodle.png');
      top: 20px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .login-container {
      max-width: 320px;
      margin: 0 auto;
      margin-top: 100px;
      background-color: #fff;
      border-radius: 25px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 40px;
    }

    .logo {
      width: 220px;
      height: auto;
      display: block;
      margin: 0 auto;
    }

    .form-group {
      margin-bottom: 25px;
    }

    .form-group label {
      font-weight: bold;
    }

    .btn-login {
      background-color: #007bff;
      color: #fff;
      border: none;
    }

    .btn-login:hover {
      background-color: #0069d9;
    }

    h2.text-center {
      font-family: 'Playfair Display', serif;
      font-size: 1.5rem;
    }
  </style>
</head>

<body>
  <div class="login-container">
    <div class="container text-center">
      <img src="karpagam_logo.png" alt="Karpagam College of Engineering" class="logo">
    </div>
    <h2 class="text-center">STUDENT LOGIN</h2>
   
    <form method="post" action="/auth-student">
      <% if (message !== '') { %>
        <p style="color: red;"><%= message %></p>
      <% } %>
      
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-login btn-block">Login</button>
      </div>
    </form>  
   
  </div>

  <script>
    function passRollNumber() {
      const username = document.getElementById("username").value;
      console.log(username);
      const url = `question.html?roll=${encodeURIComponent(username)}`;
      window.location.href = url;
      return false; 
    }
    
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
